.container {
    background: #ffffff;
    height: 100vh;
}

.start {
    min-height: 200px;
    background: #f1f3f4;
    padding: 20px 200px 40px;
}

.start img {
    width: 150px;
}

.start h1 {
    margin-bottom: 20px;
}

.start img:hover {
    box-shadow: 0 0 0 1px #679fff;
    cursor: pointer;
}

.documents {
    padding: 20px 200px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions span {
    cursor: pointer;
}

.actions .listIcon {
    font-size: 1.4rem;
}