*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f9fbfd;
  font-family: "Roboto", sans-serif !important;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  border: none;
  position: sticky;
  top: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
}

.ql-toolbar {
  background: #f9fbfd;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  padding-block: 15px !important;
}

.ql-container {
  display: flex;
  justify-content: center;
}

.ql-editor {
  height: 11in !important;
  width: 9in;
  padding: 1in !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  background: white;
}