*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f9fbfd;
  font-family: sans-serif;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  border: none;
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.ql-toolbar {
  background: #f9fbfd;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  padding-block: 15px !important;
}

.ql-container {
  display: flex;
  justify-content: center;
}

.ql-editor {
  height: 11in !important;
  width: 9in;
  padding: 1in !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  background: white;
}